.priceKaution,
.daylyPriceContainer {
    display: flex;
  justify-content: space-between;
}

.price {
    font-size: 20px;
}

.priceKaution {
    font-size: 15px;
}

.additionalCosts {
    margin-top: -10px;
    float: right;
}