html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.layout1 {
  background-color: aqua;
}

.layout2 {
  background-color: aquamarine;
}

.layout3 {
  background-color: azure;
}

.layout4 {
  background-color: bisque;
}

#articelImage img {
  height: 500px !important;
  width: 100% !important;
  object-fit: cover;
}

/* Notification */
@import url("./notification.css");